{% extends 'base.html' %}
{% load i18n %}
{% block content %}
    <div class="container">
        <h4>{% trans "Mitglied" %} {{ mitglied.vorname }} {{ mitglied.nachname }} {% trans "Bank Daten" %}</h4>
        <a class="btn btn-primary" href="/mitglieder/editMitglied/{{ mitglied.id }}">{% trans "Mitglied bearbeiten" %}</a><br />
        <table style="margin-top: 10px;" id="bankTable" class="table table-striped">
            <thead>
                <tr>
                    <th>{% trans "Vorname" %}</th>
                    <th>{% trans "Nachname" %}</th>
                    <th>{% trans "IBAN" %}</th>
                    <th>{% trans "Bic" %}</th>
                    <th>{% trans "Bank" %}</th>
                    <th>{% trans "Kontoinhaber" %}</th>
                    <th>{% trans "Lastschrift aktiv?" %}</th>
                    <th>{% trans "Betrag" %}</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ mitglied.vorname }}</td>
                    <td>{{ mitglied.nachname }}</td>
                    <td>{{ mitglied.iban }}</td>
                    <td>{{ mitglied.bic }}</td>
                    <td>{{ mitglied.bank }}</td>
                    <td>{{ mitglied.kontoinhaber }}</td>
                    <td>{{ mitlgied.lastschrift }}</td>
                    <td>{{ mitglied.betrag }}</td>
                </tr>
            </tbody>
        </table>
    </div>
{% endblock %}
